body {
    background-color: #ffffbf;
    background-repeat: repeat;
}

.jugador-info {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    text-align: right;
    padding: 20px;
    border: 2px solid #000;
    display: inline-block;
}

#nombreJugador {
    font-size: 24px;
    margin: 0;
}

#puntosJugador {
    font-size: 18px;
    margin: 0;
    
}

.pista-container {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ffffff;
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 5px;
}

.ahorcado-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#ahorcado {
    width: 400px;
    height: 400px;
    background-color: #ffffff;
    border: 2px solid #000000;
    margin-bottom: 20px;
}

.guiones-container {
    text-align: center;
}

.guiones-container #guiones {
    font-size: 24px;
    font-family: monospace;
    white-space: pre;
}

.botones-letras {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.botones-letras button {
    margin: 5px;
    font-size: 24px;
    padding: 10px 20px;
}

.image-container {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  
  .left-aligned {
    float: left;
  }
  
  .image-container2 {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
  
  .right-aligned {
    float: right;
  }
  
  .siguiente-pregunta {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    padding: 10px 20px;
}