body {
    margin: 0;
    background-color: #ffffbf;
    align-items: center;
}

header{
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    margin: 0;
    text-align: center;
}

.contenedor-todo{
    width: 50%;
    margin: auto;
    padding: 20px;
}

.arriba-info{
    display: flex;
    gap: 20px;
    margin-top: -35px;
    align-items: center;
}

.jugador-info {
    top: 3%;
    left: 86px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    border: 2px solid #000;
    display: inline-block;
    position: absolute;
}

#nombreJugador {
    font-size: 16px;
    margin: 0;
}

#puntosJugador {
    font-size: 20px;
    margin: 0;
    
}

.pista-container {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 5px;
    z-index: 1;
    font-size: 24px; /* Ajusta el tamaño de la letra según tu preferencia */
}

.siguiente-pregunta {
    position: absolute;
    top: 3%;
    left: 86%;
    transform: translateX(-50%);
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
}

#colorOptions {
    position: absolute;
    bottom: 15px;
    right: 10px;
    cursor: pointer;
    background-color: gray;
}

#colorOptions select {
    background-color: LightGray;
  }  

#colorOptions select,
#colorOptions button {
  font-size: 16px;
  padding: 10px;
  width: 120px;
}


.image-container {
    position: absolute;
    top: 55%;
    left: 0;
    transform: translateY(-50%);
  }
  
.left-aligned {
    float: left;
}
  
.image-container2 {
    position: absolute;
    top: 55%;
    right: 0;
    transform: translateY(-50%);
}
  
.right-aligned {
    float: right;
}

.contenedor-juego{
    margin-top: 100px;
    align-items: center;
}

.ahorcado-container {
    align-items: center;
}

#ahorcado {
    width: 380px;
    height: 280px;
    background-color: #ffffff;
    border: 2px solid #000000;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ahorcado img {
    max-width: 100%;
    max-height: 100%;
}

.guiones-container {
    margin-top: 30px;
    text-align: center;
}

.guiones-container #guiones {
    font-size: 24px;
    font-family: monospace;
    white-space: pre;
}

.botones-letras {
    justify-content: center; 
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
}

.botones-letras button {
    width: 28px;
    padding: 6px 0;
    text-align: center;
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    .image-container,
    .image-container2 {
        transform: scale(0);
    }



}
